{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
    {% include 'ad.html' %}
    <div class="topnews">
      <h2>{{ request.GET.year }}/{{ request.GET.month }}文章归档</h2>
    {% for article in article_list %}
      <div class="blogs">
        <ul>
          <h3><a href="/">{{ article.title }}</a></h3>
          <p>{{ article.desc }}</p>
          <p class="autor"><span class="lm f_l"><a href="/">{% for tags in article.tag.all %}{{ tags.name}}{% endfor %}</a></span><span class="dtime f_l">{{ article.date_publish|date:"Y-m-d" }}</span><span class="viewnum f_r">浏览（<a href="/">{{ article.click_count }}</a>）</span><span class="pingl f_r">评论（<a href="/">{{ article.comment_set.count }}</a>）</span></p>
        </ul>
      </div>
    {% endfor %}
    </div>
  {% include 'pagination.html' %}
{% endblock %}